*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* ------------------------------ HEADER START ------------------------------ */

header{
    background-color: rgba(151, 52, 52, 0.745);
    display: flex;
    justify-content: center;
    color: white;
    padding: 1.5%;
}

nav{
    background-color: rgba(255, 7, 7, 0.628);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    overflow: auto;
    align-items: last baseline;
}

.header-links li{
    list-style: none;

}

.header-links{
    margin: 0 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-grow: 0.25;

}

.header-links li{
   
}

.header-links a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.logomarca {
       color: white;
       font-size: 3rem;
}


.btn-login-area{
     padding: 10px;
}

.btn-login-area .btn-login{
    color: white;
    text-decoration: none;
    font-size: 30px;
    background-color: blue;
    padding: 20px 55px;
    border-radius: 16px;
    font-weight: bold;
}

/* ------------------------------ HEADER END ------------------------------ */


/* ------------------------------ CONTENT AREA START ------------------------------ */

.container-main{
    background-color: rgba(150, 150, 0, 0.772);
    display: flex;
    justify-content: center;
    padding: 16px;
    height: 70%;
}

.content-main{
    background-color: yellow;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
    gap: 10%;
}

.content-main .content{
    display: flex;
    gap: 5%;
}

.content-main .mega-title{
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 10px;
    font-size: 40px;
}

.param-aside{
    background-color: rgba(4, 177, 177, 0.208);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 40px;
}

.param-aside h1{
    background-color: rgba(0, 128, 0, 0.192);
    text-align: left;
    font-size: 45px;
    color: white;
    font-weight: 100;
}

.param-aside p{
    background-color: rgba(0, 128, 0, 0.192);
    color: white;
    text-align: justify;
    font-size: 20px;
}

.reference{
    background-color: rgb(212, 53, 212);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 10px;
}

.reference .input-area{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 20px 0;
}

.reference .input-area label{
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(171, 12, 12, 0.498);
    font-size: 30px;

}
.reference .input-area input{
    padding: 10px;
    border-radius: 5px;
    width: 95%;
    font-size: 20px;
}

.reference .btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reference .btn-area input{
    padding: 15px 33%;
    color: white;
    font-size: 25px;
    background-color: rgb(91, 2, 91);
}


/* ------------------------------ CONTENT AREA END  ------------------------------ */

/* ------------------------------ MORE AREA START  ------------------------------ */

.container-more{
    background-color: rgba(51, 51, 206, 0.597);
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-more .text-area{
    background-color: rgba(51, 51, 206, 0.597);
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-more h2{
    text-align: center;
    background-color: rgba(51, 51, 206, 0.597);
}

.container-more p{
    background-color: rgba(51, 51, 206, 0.597);
    text-align: justify;
    font-size: 20px;
}

.container-more .midia-icons-container{
    background-color: rgba(51, 51, 206, 0.597);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.container-more .midia-icons-container div a{
    color: white;
    text-decoration: none;
}

.midia-icons-container .icon01{
    background-color: rgb(255, 0, 234);
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
}
.midia-icons-container .icon02{
    background-color: rgb(0, 208, 255);
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    
}.midia-icons-container .icon03{
    background-color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
}

/* ------------------------------ MORE AREA END  ------------------------------ */

.container-footer{
    background-color: rgb(10, 10, 102);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 10%;
}