*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    position: fixed;
    background-color: rgb(183, 88, 88);
    padding: 50px;
    width: 100%;
    display: inline-block;
    color: white;
}

.logo{
    float: left;
}

ul{

    width: 50%;
    float: center;
}

ul li {

    padding: 0 5px;
    display: inline;
}